

/*-- mkform --*/
.mkform-date input {
	cursor: pointer !important;
}

.disabled-form {
  cursor: crosshair !important;
  background-color: #FFF !important;
}

.row_selected {
  background-color: #5E68E4 !important;
}
/*-- mkform sampe sini --*/

/*-- Custom sandstone --*/

.navbar .nav>li>a {
	font-size: 1.4em !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF !important;
}

.panel .panel-heading, .panel .panel-title, .panel .panel-footer {
	font-size: 1em !important;
}

.panel-list-cds {
	max-height: 30em !important;
	overflow: auto !important;
}
/*-- Custom sandstone sampe sini --*/


